/* .Article{
    width: 70%;
    margin: auto;
    border: 1px solid #dddddd;
    box-shadow: 0 3px 4px #bbbbbb;
    padding: 12px;
    text-align: center;
    margin-bottom: 10px;

}

@media (min-width: 900px){
    .Article{
        width: 630px;
    }
} */